/*

    COLORS

    Pink   : #ffdddd
    Purple : #ddddff
    Green  : #ddffdd
    Blue   : #ddffff
    Yellow : #ffffdd

    BREAKPOINTS

    600px
    1100px

*/


body{
    font-family: Palatino, Times, serif;
    background-color: #ddffdd;
    margin: 20px;
    font-size: 14px;
    line-height: 1.6;

}

ul{
    padding-left: 20px;
    margin-top: 0;
    background-color: #ffffdd

}

h1{
    color: #009999;
}
/*[class*="col-"] {
    width: 100%;*/
}
    @media screen and ( min-width: 600px ){
    /*.aside { flex: 1 auto; }
    .col-m-1 {width:33.33%}
    .col-m-2 {width:33.33% }
    .col-m-3 {width:33.33%}*/

    @media screen and ( min-width: 1100px )
    .main_content{flex: 2 0px;}
    /*.sidebar_content:{order: 1;}
    .footer{order:3;}*/
}
.site_content{
  display:flex;
  flex-direction:column;
  color:#ffdddd;
}
.main_content{
  display:flex;
  flex-direction: column;
  background-color::#ddffff;
  float: right;
}
.sidebar_content{
  display: flex;
  flex-direction: column;
  background-color:#ffffdd;
  float: right;
}
.site_footer{
  display:flex;
  flex-direction: row;
  background-color: Orange;


}

.site_content{
  display:flex;
  flex-direction:row;
  background-color: :#ffdddd;
}
.main_content{
  display:flex;
  flex-direction: column;
  flex-wrap: wrap;
  background-color:#ddffff;
}
.sidebar_content{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-color:#ffffdd;
}
.site_footer{
  display:flex;
  flex-direction: row;
  background-color: orange;

}
.site_content{
  display:flex;
  flex-direction:row;
  background-color:#ffdddd;

}
.main_content{
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-color:#ddffff;
}
.sidebar_content{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-color:#ffffdd;
}
.site_footer{
  display:flex;
  flex-direction: row;
  background-color: orange;

}

    h1{
        color: #009999;
        background-color:#ddffff;
    }
}
 h2{
    color: #009999;
    background-color:#ddffff;
}
h3{
  background-color: #ffffdd;
}
h2, h3{
    margin-bottom: 0;
}

a{
    font-weight: bold;
    color: red;
    text-decoration: none;
    background-color: orange;
}

a:hover{
    color: blue;
}

header{
    padding-bottom: 15px;
    margin-bottom: 20px;
    border-bottom: 2px solid #ddddff;

}

#site_container{
    padding: 20px;
    max-width: 1100px;
    margin: 0 auto;
    background: white;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    border-radius: 5px;


    }

#main_nav{
    text-align: center;

}

#main_nav a{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 10px 2%;
    background: #ffdddd;
    margin-bottom: 5px;
    border-radius: 5px;

}

#main_nav a:hover{
    background: #ddddff;
}
